USE [master]
GO
/****** Object:  Database [Book]    Script Date: 10/17/2019 10:20:28 PM ******/
CREATE DATABASE [Book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Book.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookBook_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[ID_BAIVIET] [int] IDENTITY(1,1) NOT NULL,
	[TENBAIVIET] [nvarchar](50) NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[ID_NV] [int] NOT NULL,
 CONSTRAINT [PK_BAIVIET] PRIMARY KEY CLUSTERED 
(
	[ID_BAIVIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HD]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HD](
	[ID_CTHD] [int] IDENTITY(1,1) NOT NULL,
	[ID_HD] [int] NOT NULL,
	[ID_SACH] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CHITIET_HD] PRIMARY KEY CLUSTERED 
(
	[ID_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[ID_GIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SACH] [int] NOT NULL,
	[ID_KH] [int] NOT NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[ID_GIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HD] [int] IDENTITY(1,1) NOT NULL,
	[ID_KH] [int] NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[TONGGIA] [float] NOT NULL,
	[NOINHAN] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [nvarchar](50) NOT NULL,
	[SDT_KH] [nvarchar](50) NOT NULL,
	[EMAIL_KH] [nvarchar](50) NOT NULL,
	[DIACHI_KH] [nvarchar](50) NOT NULL,
	[NGAYSINH_KH] [datetime] NOT NULL,
	[GIOITINH_KH] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[ID_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[ID_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_NV] [nvarchar](50) NOT NULL,
	[SDT_NV] [nvarchar](50) NOT NULL,
	[EMAIL_NV] [nvarchar](50) NOT NULL,
	[DIACHI_NV] [nvarchar](50) NOT NULL,
	[NGAYSINH_NV] [datetime] NOT NULL,
	[GIOITINH_NV] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID_NXB] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NXB] [nvarchar](50) NOT NULL,
	[DIACHINXB] [nvarchar](50) NOT NULL,
	[SDTNXB] [nvarchar](50) NOT NULL,
	[EMAILNXB] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[ID_NXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[ID_SACH] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAI] [int] NOT NULL,
	[ID_NXB] [int] NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[TOMLUOCNOIDUNG] [nvarchar](100) NOT NULL,
	[SOTRANG] [int] NOT NULL,
	[NGONNGU] [nvarchar](50) NOT NULL,
	[PHIENBAN] [int] NOT NULL,
	[NAMXUATBAN] [date] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[HINHANH] [varchar](50) NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[ID_TG] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[ID_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 10/17/2019 10:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[ID_TG] [int] IDENTITY(1,1) NOT NULL,
	[HOTENTG] [nvarchar](50) NOT NULL,
	[SDTTG] [nvarchar](50) NOT NULL,
	[EMAILTG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[ID_TG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BAIVIET] ON 

INSERT [dbo].[BAIVIET] ([ID_BAIVIET], [TENBAIVIET], [NOIDUNG], [ID_NV]) VALUES (1, N'Abc', N'sdadffd', 2)
SET IDENTITY_INSERT [dbo].[BAIVIET] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HD] ON 

INSERT [dbo].[CHITIET_HD] ([ID_CTHD], [ID_HD], [ID_SACH], [SOLUONG], [DONGIA]) VALUES (1, 1, 1, 123, 343)
SET IDENTITY_INSERT [dbo].[CHITIET_HD] OFF
SET IDENTITY_INSERT [dbo].[GIOHANG] ON 

INSERT [dbo].[GIOHANG] ([ID_GIO], [ID_SACH], [ID_KH]) VALUES (1, 1, 1)
INSERT [dbo].[GIOHANG] ([ID_GIO], [ID_SACH], [ID_KH]) VALUES (2, 1, 1)
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([ID_HD], [ID_KH], [TINHTRANG], [NGAYLAP], [TONGGIA], [NOINHAN], [GHICHU]) VALUES (1, 1, N'chua giao', CAST(N'2019-10-11 00:00:00.000' AS DateTime), 15000000, N'binh duong', N' khong')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID_KH], [TEN_KH], [SDT_KH], [EMAIL_KH], [DIACHI_KH], [NGAYSINH_KH], [GIOITINH_KH], [TENDANGNHAP], [PASSWORD]) VALUES (1, N'hieu', N'1232', N'asdasd@gmail.com', N'dasda', CAST(N'2018-12-13 00:00:00.000' AS DateTime), N'nam', N'khachhang', N'123')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([ID_LOAI], [TENLOAI]) VALUES (1, N'Cooking')
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID_NV], [HOTEN_NV], [SDT_NV], [EMAIL_NV], [DIACHI_NV], [NGAYSINH_NV], [GIOITINH_NV], [TENDANGNHAP], [PASSWORD], [CHUCVU]) VALUES (2, N'Phạm Trung Hiếu1', N'0363073789', N'phamhieu5969@gmail.com', N'Bình Dương', CAST(N'1998-01-12 00:00:00.000' AS DateTime), N'Nam', N'admin', N'admin', N'Admin')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([ID_NXB], [TEN_NXB], [DIACHINXB], [SDTNXB], [EMAILNXB]) VALUES (1, N'Kim Đồng', N'Bình Dương', N'09999999', N'abc@gmail.com')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([ID_SACH], [ID_LOAI], [ID_NXB], [TENSACH], [TOMLUOCNOIDUNG], [SOTRANG], [NGONNGU], [PHIENBAN], [NAMXUATBAN], [DONGIA], [HINHANH], [TRANGTHAI], [ID_TG]) VALUES (1, 1, 1, N'Nấu Ăn', N'asdsad', 12, N'Anh', 1, CAST(N'2019-01-13' AS Date), 12312, N'abc.jpg', N'còn hàng', 1)
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([ID_TG], [HOTENTG], [SDTTG], [EMAILTG]) VALUES (1, N'Pham', N'075676576', N'abc@gmail.com')
INSERT [dbo].[TACGIA] ([ID_TG], [HOTENTG], [SDTTG], [EMAILTG]) VALUES (2, N'Phamhieu1', N'075676576', N'abc@gmail.com')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_NHANVIEN1] FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHANVIEN] ([ID_NV])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_NHANVIEN1]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_HOADON] FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOADON] ([ID_HD])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_SACH] FOREIGN KEY([ID_SACH])
REFERENCES [dbo].[SACH] ([ID_SACH])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_SACH]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SACH] FOREIGN KEY([ID_SACH])
REFERENCES [dbo].[SACH] ([ID_SACH])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([ID_LOAI])
REFERENCES [dbo].[LOAISACH] ([ID_LOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([ID_NXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID_NXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([ID_TG])
REFERENCES [dbo].[TACGIA] ([ID_TG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
USE [master]
GO
