<h3><i class="fas fa-book ml-2"></i> QUẢN LÍ TRẢ SÁCH</h3>
<hr>
<div class="row" style="padding: 2em">
  <div class="col-sm-6">
    <label for="id_ThuThu" class="col-form-label">Người lập phiếu:</label>
    <input type="text" class="form-control" name="id_ThuThu" id="id_ThuThu" ng-model="id_ThuThu" ng-disabled="permenent"><br>

    <label for="id_TheDG" class="col-form-label">Độc giả:</label>
    <input list="id_TheDG" id="readerByBarcode" class="form-control" name="readerByBarcode" ng-model="id_TheDG" ng-disabled="barcodeNotEmpty" my-enter="enterId_TheDG(id_TheDG)">
    <datalist id="id_TheDG">
      <option ng-repeat="reader in readers" value="{{reader.id_TheDG}}-{{reader.hotenDG}}"></option>
    </datalist>
    <br>

    <label for="barcode" class="col-form-label">Barcode:</label>
    <input list="barcode" id="code" class="form-control" name="code" ng-model="barcode" ng-disabled=disabled ng-change="checkBarcode(barcode)">
    <datalist id="barcode">
      <option ng-repeat="book in books" value="{{book.barcode}}">{{book.bookTitle.tenDS}}</option>
    </datalist><br><br>

    <button type="button" class="btn btn-dark" name="button" ng-click="addReturnBooks(id_PhieuTra, id_ThuThu, id_TheDG, barcode, ngayTra, ngayLapPT)">TRẢ SÁCH</button>
  </div>

  <div class="col-sm-6">
    <label for="ngayLapPT" class="col-form-label">Ngày lập phiếu:</label>
    <input type="date" class="form-control" name="ngayLapPT" id="ngayLapPT" ng-model="ngayLapPT" ng-disabled=permenent><br>

    <label for="ngayTra" class="col-form-label">Ngày trả:</label>
    <input type="date" class="form-control" name="ngayTra" id="ngayTra" ng-model="ngayTra" ng-disabled=permenent>
  </div>
</div>
<hr>

<div class="table-responsive" ng-if="enter">
<table class="table table-bordered border-warning text-center" id="accordion">
  <thead>
    <tr class="table-info">
      <th scope="col" width="30%">Barcode</th>
      <th scope="col" width="30%">Ngày hứa trả</th>
      <th scope="col" width="40%">Trạng thái</th>
  </tr>
</thead>
<tbody ng-repeat="x in borrowedBooks | orderBy | filter: search">
  <tr style="background-color:{{bg_Color(x[2].trangThai)}};color:{{color(x[2].trangThai)}}">
    <td>{{x[0].id.barcode}}</td>
    <td>{{x[0].ngayHuaTra | date:'dd-MM-yyyy'}}</td>
    <td>{{x[2].trangThai}}</td>
  </tr>
</tbody>
</table>
</div>
